<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="loginContainer">
    <top>

    </top>
    <div class="loginForm">
        <div>
            <div>Sign In</div>
        </div>
        <div>
            <form th:action="@{/authenticateTheUser}" method="POST">
                <div>
                    <div th:if="${param.error} != null">
                        <div>
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout} != null">
                        <div>
                            You have been logged out.
                        </div>
                    </div>
                </div>
                <div>
                    <input type="text" name="username" placeholder="username">
                </div>
                <div>
                    <input type="password" name="password" placeholder="password" class="form-control">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <footer>

    </footer>
</div>
</body>
</html>